body {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  color: #fefefe;
  background-color: #262626;
}

h2 {
  font-size: 20px;
  font-weight: 300;
  margin-top: 0;
  margin-bottom: 0.6em;
  height: 1.9em;

  border-bottom: 1px solid #fefefe;
}

.collapsed {
  display: none;
}

.module-container {
  width: 20em;
}
.module-container.freesize {
}
.module {
}
